
body{
   font-family: Reem Kufi;
   background-color: cadetblue;
 }

header h1{

    text-align: center;
    color:#2F1D1A;
    text-shadow: cadetblue 2px 2px 2px;
    font-size: 4em;
    padding-top: 200px;

}

header h2{
    text-align: center;
    color:#2F1D1A;
    text-shadow: cadetblue 2px 2px 2px;
}

footer{
    text-align: center;
    background-color: cadetblue;
    color:#2F1D1A;
}

p{
    padding-top: 20px;
    font-size: 1.5em;
}

/*navbar- override base styles from bootstrap*/
a.navbar-brand, a.nav-item.nav-link.active, a.nav-item.nav-link{
    color:cadetblue!important;
}

.bg-dark{
    opacity:.8;
    background-color: #2F1D1A!important;
}


/*hide my picture on mobile version*/
.imglimit{
    display:none;
}

.floatright{
    float:right;
}

/*pictures for parallax effect*/
.oculus{
     background-image: url('../images/oculus2.jpg');
     height:100vh;
}

.teacher{
     background-image: url('../images/groupAtForum.jpg');
     height:100vh;
}

.pm{
     background-image: url('../images/oculus2.jpg');
     min-height:100vh;
}

.developer{
    background-image: url('../images/LeaComputer.jpg');
    height:100vh;
}

.graffiti{
    background-image: url('../images/graffiti2.jpg');
    width:auto;
    height:700px;
    padding-bottom: 50px;
}

/*Parallax effect*/
.parallax{
    width:auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

/*About: NSS, Teaching, Project Mgmt*/

div.carousel-inner img{
    margin: 0 auto;
    padding-bottom: 20px;
}

.story{
    height:auto;  /*or specific height like 70vh to avoid whitespace*/
    background-color: cadetblue;
    text-align: center;
}

.storyH2{
    color:#2F1D1A;
    text-align: center;
    padding-top: 70px; /*padding needed due to sticky nav*/
    text-decoration-line: underline;
}

/*Portfolio styles*/

.portfolioImg{
    padding:20px;
    width:100%;
    height:300px;
}

/*Portfolio Overlay*/
.holder{
    position:relative;
}

.overlay {
    position:absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    height:100%;
    width:100%;
    opacity:0;
    transition:.6s ease;
    background-color: #2F1D1A;
}

.holder:hover .overlay {
    opacity: .9;
}

.overlayText {
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/*Technologies*/
.tech{
    height:auto;
    background-color: white;
}

.techicon {
    width:auto;
    height:150px;
    padding-top:30px;
    padding-bottom: 30px;
}

.center{
    text-align: center;
}

@media (min-width: 540px) {
    header h1{
        padding-top:200px;
        padding-left: 170px;
        text-align: left;
        position:absolute;
    }

    header h2{
        text-align: left;
        padding-top:270px;
        padding-left:170px;
        position:absolute;
    }

    span.headerText{
        background-color: cadetblue;
        opacity:.7;
    }

    .imglimit{
        display:block;
        max-height:100vh;
    }

    .story, .tech{
        padding-left:10%;
        padding-right:10%;
    }

    .portfolioImg{
    height:350px;
    }
}

@media (min-width: 830px){

    .graffiti{
        background-image: url('../images/graffiti.jpg');
        width:auto;
        height:430px;
        padding-bottom: 50px;
    }

    .portfolioImg{
    height:400px;
    }
}