
body{
   font-family: Reem Kufi;
   background-color: cadetblue;
   font-size: 1.5em;
 }

h1{

    text-align: center;
    color:#2F1D1A;
    text-shadow: cadetblue 2px 2px 2px;
    font-size: 3.5em;
    padding-top: 65%;

}

h2{
    text-align: center;
    color:#2F1D1A;
    text-shadow: cadetblue 2px 2px 2px;
    font-size: 2.25em;
    padding-top: 10px;
}

span.headerText{
        background-color: cadetblue;
        opacity:.7;
}

footer{
    text-align: center;
    background-color: cadetblue;
    color:#2F1D1A;
}

p{
    padding-top: 20px;
    font-size: 1.5em;
}

.center{
    text-align: center;
}

h2.padding{
    padding: 20% ;
}

/*navbar- override base styles from bootstrap*/
a.navbar-brand, a.nav-item.nav-link.active, a.nav-item.nav-link{
    color:cadetblue!important;
    font-size: 2.25rem;
}

.bg-dark{
    opacity:.8;
    background-color: #2F1D1A!important;
}


/*hide my picture on mobile version*/
img.imglimit{
    display:none;

}

.floatright{
    float:right;
}

/*pictures for parallax effect- backgrounds*/
.oculus{
     background-image: url('../images/oculus2.jpg');
     height:100vh;
}

.teacher{
     background-image: url('../images/GroupAtForum.jpg');
     height:100vh;
}

.greta{
    background-image: url('../images/GretaLaurel.jpg');
    height:675px;
}

.developer{
    background-image: url('../images/LeaComputer.jpg');
    height:100vh;
}

.graffiti2{
    background-image: url('../images/graffiti2.jpg');
    width:auto;
    height:700px;
    padding-bottom: 50px;
}

.graffiti{
    background-image: url('../images/graffiti.jpg');
    width:auto;
    height:430px;
    padding-bottom: 50px;
}

/*Parallax effect*/
.parallax{
    width:auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.parallax2 {
    max-width:650px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

/*About: NSS, Teaching, Project Mgmt*/

div.carousel-inner img{
    margin: 0 auto;
    padding-bottom: 20px;
}

.story{
    height:auto;  /*or specific height like 70vh to avoid whitespace*/
    background-color: cadetblue;
    text-align: center;
}

.storyH2{
    color:#2F1D1A;
    text-align: center;
    padding-top: 85px; /*padding needed due to sticky nav*/
    text-decoration-line: underline;
    font-size: 2.25em;
}

/*Portfolio styles*/

.portfolio {
    padding-top:85px;
}

.portfolioImg{
    padding:20px;
    width:100%;
    height:400px;
}

/*Portfolio Overlay*/
.holder{
    position:relative;
}

.overlay {
    position:absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    height:100%;
    width:100%;
    opacity:0;
    transition:.6s ease;
    background-color: #2F1D1A;
}

.holder:hover .overlay {
    opacity: .9;
}

.overlayText {
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:90%;
}

div.overlayText h2 {
    font-size: 2rem;
}

.overlayText p {
    font-size: 1.5rem ;
}

/*Technologies*/
.tech{
    height:auto;
    background-color: white;
    padding-left:10%;
    padding-right:10%;
    padding-top: 80px;
}

.techicon, .social {
    width:auto;
    height:250px;
    padding-top:30px;
    padding-bottom: 30px;
}


/*Contact*/

.contact a{
    text-decoration: none;
    color: #2F1D1A;
}

.contact h2 {
    padding-top: 80px;
}

.contact {
    padding-bottom: 50px;
}


/*media queries tablet, desktop*/


@media only screen and (min-device-width:450px) {

    html{
        min-width: 100%;
        background-size: contain;
    }

    h1 {
        padding-top: 220px;
    }

    /*overwriting navbar styles*/
    a.navbar-brand {
        font-size: 2rem;
    }

    a.nav-item.nav-link{
        font-size: 1.75rem;
    }

    /*about styles*/
    h2.storyH2 {
        font-size: 2rem;
    }

    p {
        font-size: 1em;
    }

    img.techicon {
        height:200px;
    }

    img.portfolioImg {
        height:450px;
    }

   /* Portfolio Overlay*/

    .overlayText h2 {
        font-size: 1.5rem;
    }

    .overlayText p {
        font-size: 1rem;
    }

     /*contact header*/
    h2.col-md-12.center{
        font-size: 2rem;

    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    html {
        min-width: 100%;
        background-size: contain;
    }

    h1 {
        padding-top: 170px;
        font-size: 2.5em;
    }

/*overwriting navbar styles*/
    nav {
        padding:0;
    }
    a.navbar-brand {
        font-size: 2rem;
    }

    a.nav-item.nav-link{
        font-size: 1.75rem;
    }

    /*about styles*/
    .story {
        padding-bottom: 100px;
    }

    h2.storyH2 {
        font-size: 2rem;
        padding-top: 170px;
    }

    p {
        font-size: 1em;
    }

    img.techicon {
        height:200px;
    }

    .portfolio {
        padding-top: 170px;
        padding-bottom: 100px;
    }

    img.portfolioImg {
        height:350px;
    }

   /* Portfolio Overlay*/

    .overlayText h2 {
        font-size: 1.5rem;
    }

    .overlayText p {
        font-size: 1rem;
    }

     /*contact header*/

    .contact {
         padding-bottom: 100px;
    }
    .contact h2 {
        padding-top: 170px;
    }

    h2.col-md-12.center{
        font-size: 2rem;

    }
}