
body{
   font-family: Reem Kufi;
   background-color: cadetblue;
 }

header h1{

    text-align: center;
    color:#2F1D1A;
    text-shadow: cadetblue 2px 2px 2px;
    font-size: 4em;
    padding-top: 400px;

}

header h2{
    text-align: center;
    color:#2F1D1A;
    text-shadow: cadetblue 2px 2px 2px;
}

span.headerText{
        background-color: cadetblue;
        opacity:.7;
}

footer{
    text-align: center;
    background-color: cadetblue;
    color:#2F1D1A;
}

p{
    padding-top: 20px;
    font-size: 1.5em;
}

.center{
    text-align: center;
}

/*navbar- override base styles from bootstrap*/
a.navbar-brand, a.nav-item.nav-link.active, a.nav-item.nav-link{
    color:cadetblue!important;
}

.bg-dark{
    opacity:.8;
    background-color: #2F1D1A!important;
}


/*hide my picture on mobile version*/
img.imglimit{
    display:none;

}

.floatright{
    float:right;
}

/*pictures for parallax effect- backgrounds*/
.oculus{
     background-image: url('../images/oculus2.jpg');
     height:100vh;
}

.teacher{
     background-image: url('../images/GroupAtForum.jpg');
     height:100vh;
}

.greta{
    background-image: url('../images/GretaLaurelSmall.jpg');
    height:675px;
}

.developer{
    background-image: url('../images/LeaComputer.jpg');
    height:100vh;
}

.graffiti2{
    background-image: url('../images/graffiti2.jpg');
    width:auto;
    height:700px;
    padding-bottom: 50px;
}

.graffiti{
    background-image: url('../images/graffiti.jpg');
    width:auto;
    height:430px;
    padding-bottom: 50px;
}

/*Parallax effect*/
.parallax{
    width:auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.parallax2 {
    max-width:650px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

/*About: NSS, Teaching, Project Mgmt*/

div.carousel-inner img{
    margin: 0 auto;
    padding-bottom: 20px;
}

.story{
    height:auto;  /*or specific height like 70vh to avoid whitespace*/
    background-color: cadetblue;
    text-align: center;
}

.storyH2{
    color:#2F1D1A;
    text-align: center;
    padding-top: 70px; /*padding needed due to sticky nav*/
    text-decoration-line: underline;
}

/*Portfolio styles*/

.portfolio {
    padding-top:70px;
}

.portfolioImg{
    padding:20px;
    width:100%;
    height:350px;
}

/*Portfolio Overlay*/
.holder{
    position:relative;
}

.overlay {
    position:absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    height:100%;
    width:100%;
    opacity:0;
    transition:.6s ease;
    background-color: #2F1D1A;
}

.holder:hover .overlay {
    opacity: .9;
}

.overlayText {
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:90%;
}

.overlayText h2 {
    font-size: 16px;
}

.overlayText p {
    font-size: 12px;
}

/*Technologies*/
.tech{
    height:auto;
    background-color: white;
}

.techicon, .social {
    width:auto;
    height:150px;
    padding-top:30px;
    padding-bottom: 30px;
}

/*Contact*/

.contact a{
    text-decoration: none;
    color: #2F1D1A;
}

.contact h2 {
    padding-top: 70px;
}

.contact {
    padding-bottom: 50px;
}

/*media queries tablet, desktop*/

@media (min-width: 540px) and (max-width: 829px){
    header h1 {
        /*padding-top:200px;*/
        padding-left: 170px;
        text-align: left;
    }

    header h2 {
        text-align: left;
       /* padding-top:270px;*/
        padding-left:170px;
    }

   /* .imglimit{
        display:block;
        max-height:100vh;
    }*/

    .story, .tech {
        padding-left:10%;
        padding-right:10%;
    }

    .portfolioImg {
    height:450px;
    }

    /*Portfolio Overlay*/

    .overlayText h2 {
        font-size: 1.5rem;
    }

    .overlayText p {
        font-size: 1rem;
    }

    .greta{
        background-image: url('../images/GretaLaurel.jpg');
        height:540px!important;
        max-height:540px!important;
        width:100%!important;
        padding:45% 10% 10%;
        background-position: center cover no-repeat;

    }
}


@media (min-width: 830px) and (max-width: 1300px){

    div.overlayText h2 {
        font-size: 2rem;
    }

    div.overlayText p {
        font-size: 1.5rem;
    }

    .portfolioImg {
        height:460px;
    }
}